.multipleclasses1_class1 {
  display: block;
}

.multipleclasses1_class2 {
  display: block;
}

.multipleclasses2_class1 {
  display: block;
}

.multipleclasses2_class2 {
  display: block;
}

.multipleclasses3_class1 {
  display: block;
}

.multipleclasses3_class2 {
  display: block;
}

.multipleclasses4_class1 {
  display: block;
}

.multipleclasses4_class2 {
  display: block;
}
