@use "module";

///////////////////////////////
$name: test;
$version: 1.0;
$author: erkanunluturk;
///////////////////////////////

$config: (
  prefix: $name,
  mediaprefix: false,
  breakpoint: false
);

@function test() {
  @return(
    testclass: (
      display: block,
      font-size: 1rem
    ),
    testclass2: (
      display: grid
    )
  );
}

@include module.export(test(), $config);